@font-face {
    font-family: '21 Cent';
    src: url('21Cent-Bold.eot');
    src: local('21 Cent Bold'), local('21Cent-Bold'),
        url('21Cent-Bold.eot?#iefix') format('embedded-opentype'),
        url('21Cent-Bold.woff2') format('woff2'),
        url('21Cent-Bold.woff') format('woff'),
        url('21Cent-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: '21 Cent Condensed';
    src: url('21CentCondensed.eot');
    src: local('21 Cent Condensed'), local('21CentCondensed'),
        url('21CentCondensed.eot?#iefix') format('embedded-opentype'),
        url('21CentCondensed.woff2') format('woff2'),
        url('21CentCondensed.woff') format('woff'),
        url('21CentCondensed.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: '21 Cent';
    src: url('21Cent.eot');
    src: local('21 Cent'), local('21Cent'),
        url('21Cent.eot?#iefix') format('embedded-opentype'),
        url('21Cent.woff2') format('woff2'),
        url('21Cent.woff') format('woff'),
        url('21Cent.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
